<div>
  <h1>Evolution des erreurs par service</h1><br>
  <ngx-charts-line-chart

  [legend]="legend"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxis]="xAxis"
  [yAxis]="yAxis"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  [results]="data1"
  [legendPosition]="legendPosition"
  [scheme]="colorScheme"
  >
</ngx-charts-line-chart>
</div>

<div>
  <h1>Evolution totale des erreurs</h1><br>
  <ngx-charts-line-chart
  
  [legend]="legend"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxis]="xAxis"
  [yAxis]="yAxis"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  [results]="data2"
  [legendPosition]="legendPosition"
  >
</ngx-charts-line-chart>

</div>


