div {
    margin-top: 30px;
    width: 76%;
    margin: auto;
    background-color: white;
    text-align: center;
    padding-top: 20px;
    color: #164754;
    max-height: 50vh;
    min-height: 40vh;
    margin-bottom: 120px;
    border-radius: 5px;
}