<div id="main">
  <div id="a">
    <h1>Erreur par service</h1><br>
    <ngx-charts-bar-vertical  
    
    [results]="info1"
    [gradient]="gradient"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis" 
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [legendPosition]="legendPosition" 
    >
  </ngx-charts-bar-vertical>

  </div>
  
 <div id="b">
   <h1>Erreur par service d'interoperabilite</h1><br>
  <ngx-charts-bar-vertical

  [results]="info2"
  [gradient]="gradient"
  [xAxis]="showXAxis"
  [yAxis]="showYAxis"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"  
  [legendPosition]="legendPosition"
  >
</ngx-charts-bar-vertical>
 </div>



</div>

